@mixin header-two {
  font-family: $font-TTFN;
  font-size: 24px;
  font-weight: 700;
  line-height: 31px;
}

@mixin art-header {
  font-family: $font-TTFN;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
}

@mixin input-form {
  width: 100%;
  padding: 15px 23px 16px;
  font-family: $font-Roboto;
  background-color: $color-grey;
  border: none;
  line-height: 19px;
  color: $color-filthy-white;
  transition-property: color, outline;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}
