//Colors:
$color-dark: #202020;
$color-white: #FFFFFF;
$color-orange: #FF6E30;
$color-dark-orange: #BC572B;
$color-saturated-orange: #CE4307;
$color-grey: #4A4A4A;
$color-grey-two: #666666;
$color-dark-grey: #333333;
$color-light-grey: #808080;
$color-light-grey-two: #999999;
$color-filthy-white: #CACACA;
$color-filthy-white-two: #E9E9E9;
$color-dark-semitransparent: rgba(32, 32, 32, 0.85);


//Fonts:
$font-TTFN: "TTFirsNeue", sans-serif;
$font-Roboto: "Roboto", sans-serif;

// Sizes:
$container-max: 1390px;
$container-padding: 50px;

// Transitions:
$short: 0.25s ease;


