//Colors:
$color-dark: #202020;
$color-white: #FFFFFF;
$color-orange: #FF6E30;
$color-dark-orange: #BC572B;
$color-saturated-orange: #CE4307;
$color-grey: #4A4A4A;
$color-dark-grey: #333333;


//Fonts:
$font-TTFN: "TTFirsNeue", sans-serif;
$font-Roboto: "Roboto", sans-serif;

// Sizes:
$container-max: 1390px;
$container-padding: 50px;

// Transitions:
$short: 0.25s ease;


